/* menu */
.menu{
    width: 90%;
    margin: 0 auto;
    background-color: var(--primary);
}
.menu_container{
    background-color: var(--black);
    display: flex;
    align-items: center;
    padding: 2.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 4rem;
}
section.menu_container .left{
    flex: 2;
}
section.menu_container .left>div{
    position: relative;
    padding: 1rem;
    display: inline-block;
}
section.menu_container .left>div::before{
    content:'';
    width: 90px;
    height: 50px;

    position: absolute;
    left: 0;
    top:0;
    border-top:3px solid #ec1839;
    border-left:3px solid #ec1839;
}
section.menu_container .left>div::after{
    content:'';
    width: 90px;
    height: 50px;

    position: absolute;
    right: 0;
    bottom:0;
    border-bottom:3px solid #ec1839;
    border-right:3px solid #ec1839;
}
section.menu_container .right{
    flex: 1;
    margin-left: 15rem;
}
section.menu_container .left h1{
    color: var(--fade);
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 700;
}
section.menu_container .right ul.pages_links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
section.menu_container .right ul.pages_links li{
    color: white;
    font-size: 1.2rem;
    background-color: var(--black);
    cursor: pointer;
    padding: 8px 20px;
    border: 2px solid var(--fade);
}
section.menu_container .right ul.pages_links li:hover{
    color: var(--black);
    background-color: white;
    border: 2px solid var(--black);
}
section.menu_container .right ul.pages_links li.active{
    color: var(--black);
    background-color: white;
    border: 2px solid var(--black);
}



/* portfolio */
.allworks{
    width: 90%;
    margin: 0 auto;
}
section.work{
    min-height: calc(100vh - 198px);
}
section.work .wrapper .portfolio .tabs ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
section.work .wrapper .portfolio .tabs ul li{
    color: var(--fade);
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;

}
section.work .wrapper .portfolio .tabs ul li.active{
    border-color: var(--info);
    color: var(--info);
}
section.work .wrapper .portfolio .portfolio_wrapper{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
section.work .wrapper .portfolio .portfolio_wrapper .item{
    width: 24%;
    height: 300px;
    margin-top: 20px;
}
section.work .wrapper .portfolio .portfolio_wrapper a img{
    width: 100%;
    height: 100%;
}
